@media (max-width: 575.98px)and (orientation:portrait) {
    .cont_sucursales {
        width: 90%;
        gap: 20px;
    }



    .derecho_de_autor {
        font-size: 15px;
        text-align: center;
    }



}